@tailwind base;
@tailwind components;
@tailwind utilities;

/***********/
/* Sidebar */
/***********/

.sidebar {
    @apply cursor-default;
}

.sidebar li {
    @apply text-gray-600 dark:text-gray-300 truncate;
}

.sidebar li a {
    @apply text-sm m-1 ml-0 select-none;
}

.sidebar li a.clickable {
    /* .clickable für Thesen, die in der Sidebar angeklickt werden können */
    @apply cursor-pointer hover:text-gray-900 dark:hover:text-white transition duration-150;
}

.sidebar li a.active {
    /* .active für die aktuell ausgewählte These */
    @apply text-gray-800 dark:text-gray-100 cursor-default font-bold;
}

/***********/
/* Content */
/***********/

.content {
    @apply w-full p-6 text-center bg-white rounded-xl shadow-2xl dark:bg-gray-800 my-2 text-gray-600 dark:text-gray-300;
}

.content h1 {
    @apply mb-2 text-xl font-semibold text-gray-700 dark:text-gray-100;
}

.content p {
    @apply text-left;
}

.content .these.counter {
    @apply font-mono text-gray-500 dark:text-gray-400 mb-2;
}

.content .these.title {
    @apply mb-8 text-xl font-semibold text-gray-800 break-words dark:text-gray-200;
}

.content .these.clue {
    @apply mb-1 text-sm italic text-gray-600 dark:text-gray-400 text-center;
}

/********/
/* Card */
/********/

.card {
    @apply w-full my-2 bg-white rounded-xl shadow-lg dark:bg-gray-800 overflow-hidden;
}

.card .percentage {
    @apply font-bold rounded-md px-1.5 py-1 mr-1;
}

/********************/
/* Button Container */
/********************/

.content .these.btn-container {
    @apply w-full px-5 mx-auto space-y-2 lg:space-y-0 lg:space-x-2 mt-4;
}

.btn-container .btn {
    @apply text-white w-full px-3 py-1.5 rounded-xl focus:ring-4 focus:outline-none shadow-md transition;
}

.btn-container .btn.active {
    @apply ring-4 font-bold;
}

.btn-container .btn.btn-agree {
    @apply lg:w-48 bg-green-600 ring-green-400 hover:bg-green-700 focus:bg-green-700;
}

.btn-container .btn.btn-neutral {
    @apply lg:w-28 bg-gray-500 ring-gray-400 hover:bg-gray-600 focus:bg-gray-600;
}

.btn-container .btn.btn-disagree {
    @apply lg:w-48 bg-red-600 ring-red-400 hover:bg-red-800 focus:bg-red-800;
}

/**************/
/* Button Row */
/**************/

.btn-row {
    @apply flex flex-col justify-between mt-2 space-y-2 md:flex-row md:space-y-0 md:space-x-2;
}

.btn-row .btn {
    @apply px-3 py-1.5 rounded-xl focus:ring-4 focus:outline-none shadow-md transition text-gray-700 dark:text-gray-200
    bg-white dark:bg-gray-700 ring-white dark:ring-gray-600 hover:bg-gray-200 dark:hover:bg-gray-600 focus:bg-gray-200
    dark:focus:bg-gray-500 h-full;
}

/*********/
/* Badge */
/*********/

.badge {
    @apply text-white text-sm flex sm:inline-flex font-semibold rounded-xl pl-0.5 pr-1.5 py-1 my-1 sm:mx-1;
}

/*****************/
/* Prio Checkbox */
/*****************/

label.favbox.group {
    @apply flex items-start justify-start mb-2 cursor-pointer;
}

label.favbox div.favbox {
    @apply flex items-center justify-center flex-shrink-0 w-6 h-6 mr-3 transition duration-150 bg-yellow-500 rounded-md
    shadow-md focus-within:ring-4 ring-yellow-300 dark:ring-yellow-800;
}

label.favbox div.favbox input {
    @apply absolute opacity-0 cursor-pointer;
}

/***********/
/* Menubar */
/***********/

.menubar {
    @apply overflow-y-hidden overflow-x-auto bg-white dark:bg-gray-800;
}

.menubar .menu {
    @apply text-black dark:text-white h-7 py-1 px-2 space-x-2 md:space-x-4
    text-sm flex flex-row flex-nowrap sm:place-content-center whitespace-nowrap overflow-visible;
}

.menubar .menu div {
    @apply font-semibold shrink-0;
}

.menubar .menu a {
    @apply underline text-gray-800 hover:text-gray-500 dark:text-gray-200 dark:hover:text-gray-400 select-none
    whitespace-nowrap;
}

.menubar .menu span.active {
    @apply no-underline hover:text-inherit italic;
}

/***********/
/* Shortcuts */
/***********/

.shortcuts {
    @apply mt-16 text-center select-none hidden md:block;
}

.shortcuts div {
    @apply inline-block justify-center text-left;
}

.shortcuts div ul {
    @apply text-sm text-black dark:text-white space-y-1 opacity-30 font-mono;
}

.shortcuts div ul li .icon {
    @apply bg-black dark:bg-white dark:text-black p-0.5 text-white rounded-md text-xs font-bold inline-block h-5 w-5
    text-center font-sans;
}


/*********/
/* Other */
/*********/

/* Farbverlauf Hintergrund */
body {
    @apply bg-gradient-to-br from-green-100 to-indigo-200 dark:from-gray-900 dark:to-gray-900;
}

html {
    @apply dark:bg-gray-900;
}

/* Fix für Stern-Icon im Formular zum Gewichten */
input:checked + svg {
    display: block;
}

.infobox {
    @apply p-3 mt-5 italic text-gray-400 border border-gray-400 rounded dark:text-gray-200 dark:bg-gray-700
    dark:border-none;
}