{% extends 'wahlrechner/base.html' %}
{% load wahlrechner_extras %}

{% block title %}Fehler 404{% endblock %}

{% block sidebar %}
    {% include "error/sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Fehler 404</h1>
        Diese Seite existiert leider nicht oder wurde gelöscht. Hast du dich vielleicht vertippt?
    </div>

    <div class="btn-row">
        {% alias "window.history.back();" as onclick %}
        {% include "snippets/btn.html" with text="Zurück" onclick=onclick icon="left" pos="l" sc="37" %}
        {% url "start" as url %}
        {% include "snippets/btn.html" with text="Zur Startseite" url=url icon="cright" pos="r" sc="39" %}
    </div>
{% endblock %}

{% block shortcuts %}

    <li>
        <span class="icon">&larr;</span> Zurück
    </li>

    <li>
        <span class="icon">&rarr;</span> Zur Startseite
    </li>

{% endblock %}