{% load static %}

<!DOCTYPE html>
<html lang="de" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'tailwind/styles.css' %}?">
        <title>Wahlrechner | {% block title %}{% endblock %}</title>
    </head>
    <body class="bg-gradient-to-br from-green-100 to-indigo-200 bg-fixed dark:from-gray-900 dark:to-gray-900 min-h-screen">
        <div class="container mx-auto xl:max-w-7xl p-4 sm:p-8 sm:px-16 md:p-8 lg:p-12 xl:p-16 2xl:p-28">
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-7 md:space-x-5">
                <div class="w-full p-6 md:p-3 lg:col-span-2">{% block sidebar %} {% endblock %}</div>

                <div class="row-start-1 row-span-1 md:row-start-auto md:col-span-2 lg:col-span-5">{% block content %} {% endblock %}</div>
            </div>
        </div>
    </body>
</html>
