{% extends 'wahlrechner/base.html' %} {% load get_item %} {% block sidebar %}
<p class="text-lg mb-2 dark:text-gray-200">Übersicht aller Thesen</p>
<ul class="space-y-1 sidebar-menu">
    {% for these in these_list %}
    <li>
        {% with status=request.GET|get_item:these.pk %}
            {% if status == 'a' %}
                {% include "icons/agree.html" %}
            {% elif status == 'd' %}
                {% include "icons/disagree.html" %}
            {% elif status == 'n' %}
                {% include "icons/neutral.html" %}
            {% elif status == 's' %}
                {% include "icons/skip.html" %}
            {% else %}
                {% include "icons/empty.html" %}
            {% endif %}
        {% endwith %}    
        <a onClick="location.href='{% url 'these' %}?t={{ these.pk }}&{{ current_payload }}'" class="clickable">
            {{ these.these_keyword }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %} {% block content %}
<form method="get">
    <div class="w-full bg-white shadow-lg rounded-lg p-6 lg:p-10 text-center dark:bg-gray-800">
        <h1 class="text-xl mb-3 text-gray-800 dark:text-gray-100">Gewichtung der Thesen</h1>
        <div class="text-gray-500 dark:text-gray-400 mb-4">Wähle die Thesen aus, die dir wichtig sind. Diese Thesen werden in der Berechnung doppelt gewichtet.</div>

        {% for these in these_list %}
            {% with status=request.GET|get_item:these.pk %}
                <input type="hidden" name="{{ these.pk }}" value="{{ status }}"/>
                {% if status != 's' %}
                    <label class="flex justify-start items-start cursor-pointer mb-2 group" for="p{{ these.pk }}">
                        <div
                            class="bg-yellow-500 rounded shadow-md w-6 h-6 flex flex-shrink-0 justify-center items-center mr-3 focus-within:ring-4 ring-yellow-300 dark:ring-yellow-800 transition duration-150 group-hover:bg-yellow-600"
                        >
                            <input type="checkbox" class="opacity-0 absolute cursor-pointer" id="p{{ these.pk }}" name="p{{ these.pk }}" value=1 {% if request.GET|get_item_p:these.pk %}checked{% endif %}>
                            <svg class="fill-current hidden w-4 h-4 text-white" viewBox="0 0 20 20">
                                <!-- Heroicons by Tailwind (License: https://github.com/tailwindlabs/heroicons) -->
                                <path
                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                                />
                            </svg>
                        </div>
                        <div class="text-left">
                            <div class="select-none text-gray-700 dark:text-gray-200">
                                {{ these.these_keyword }}
                                {% if status == 'a' %}
                                    {% include "icons/agree.html" %}
                                {% elif status == 'd' %}
                                    {% include "icons/disagree.html" %}
                                {% elif status == 'n' %}
                                    {% include "icons/neutral.html" %}
                                {% endif %}
                            </div>
                            <div class="text-gray-500 dark:text-gray-400 text-sm">{{ these.these_text }}</div>
                        </div>
                        
                    </label>
                {% endif %}
            {% endwith %}   
        {% endfor %}
    </div>
    <div class="flex justify-between mt-3 space-x-2">
        <div>
            <button type="button" onClick="location.href='{% url 'these' %}?{{ payload_previous }}'" class="btn btn-white h-full">
                {% include "icons/arrow-left.html" %} Antworten bearbeiten
            </button>
        </div>
        <div>
            <button type="submit" onClick="location.href='{% url 'these' %}?{{ payload_next }}'" class="btn btn-white h-full">
                Ergebnisse anzeigen {% include "icons/arrow-right.html" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
