{% extends 'wahlrechner/base.html' %}
{% load wahlrechner_extras %}

{% block title %}Gewichtung der Thesen{% endblock %}

{% block sidebar %}
    {% include "wahlrechner/sidebar.html" with icon_default="skip" url_template="these" %}
{% endblock %}

{% block content %}

    <div class="content">
        <h1>Gewichtung der Thesen</h1>
        <p>Wähle die Thesen aus, die dir wichtig sind. Diese Thesen werden in der Berechnung doppelt gewichtet.</p>
    </div>

    <form method="get" action="{% url "confirm_submit" zustand_current %}">

        <div class="btn-row">

            {% url "these" thesen.last.pk zustand_current as url %}
            {% include "snippets/btn.html" with text="Antworten bearbeiten" url=url icon="edit" pos="l" %}

            {% include "snippets/btn.html" with text="Ergebnisse anzeigen" type="submit" icon="cright" pos="r" %}

        </div>

        <div class="card p-6 lg:p-9">

            {% for these in thesen %}

                {# Erhalte Position des Nutzers zu der These #}
                {% alias opinions|get_opinion:these as opinion %}

                {# Beantwortete und nicht-übersprungene Thesen sollen priorisiert werden können #}
                {% if opinion and opinion != 's' %}

                    {# Das Label besteht aus der Checkbox, dem Titel der These, Position und Beschreibung #}
                    <label class="favbox group" for="{{ these.pk }}">

                        {# Eigentliche Checkbox (oranges Kästchen) #}
                        <div class="favbox group-hover:bg-yellow-600">

                            <input type="checkbox"
                                   id="{{ these.pk }}"
                                   name="{{ these.pk }}"
                                   {% if opinions|is_prio:these %}checked{% endif %}
                                   value=1>

                            {# Weißer Stern in der Checkbox #}
                            {% alias "0 0 20 20" as vb %}
                            {% alias "hidden w-4 h-4 fill-current" as css %}
                            {% include "snippets/icon.html" with icon="fav" color="white" viewbox=vb classes=css %}

                        </div>

                        <div class="text-left">

                            {# Titel der These und Icon für die Position des Nutzers #}
                            <div class="text-gray-700 select-none dark:text-gray-200">
                                {{ these.these_keyword }}
                                {% include "snippets/icon.html" with icon=opinion %}
                            </div>

                            {# Beschreibung der These #}
                            <div class="text-sm text-gray-500 dark:text-gray-400">{{ these.these_text }}</div>

                        </div>

                    </label>

                {% endif %}


            {% endfor %}

        </div>

        <div class="btn-row">

            {% url "these" thesen.last.pk zustand_current as url %}
            {% include "snippets/btn.html" with text="Antworten bearbeiten" url=url icon="edit" pos="l" sc="37" %}

            {% alias "Ergebnisse anzeigen" as text %}
            {% include "snippets/btn.html" with text=text type="submit" icon="cright" pos="r" sc="39" %}

        </div>

    </form>

{% endblock %}

{% block shortcuts %}

    <li>
        <span class="icon">&larr;</span> Antworten bearbeiten
    </li>

    <li>
        <span class="icon">&rarr;</span> Ergebnisse anzeigen
    </li>

{% endblock %}
