{% extends 'wahlrechner/base.html' %}
{% load wahlrechner_extras %}

{% block title %}Begründungen der Parteien zu These {{ pos }} von {{ max_pos }}{% endblock %}

{% block sidebar %}
    {% include "wahlrechner/sidebar.html" with icon_default="skip" url_template="reason" %}
{% endblock %}

{% block content %}

    <div class="content lg:p-10 space-x-0">

        <div class="these counter">These {{ pos }} von {{ max_pos }}</div>
        <div class="these title">{{ aktuelle_these.these_text }}</div>

        {# Erhalte Position des Nutzers aus den URL Parametern #}
        {% with status=request.GET|get_param_value:aktuelle_these.pk %}

            {% if status != "s" %}
                {# Falls These nicht übersprungen... #}

                {# Füge ein passendes Badge für die Position des Nutzers ein #}
                <p class="these clue">Deine Position:</p>
                {% include "snippets/badge.html" with type=status pers="1" %}

                {# Falls These priorisiert, füge ein passendes Badge ein #}
                {% with "p"|addstr:aktuelle_these.pk as key %}
                    {% if request.GET|get_param_value:key %}
                        {% include "snippets/badge.html" with type="fav" pers="1" %}
                    {% endif %}
                {% endwith %}

            {% else %}
                {# Falls These übersprungen... #}
                <p class="these clue">Du hast diese These übersprungen.</p>

            {% endif %}

        {% endwith %}

    </div>

    <div class="btn-row">
        {% if payload_previous %}
            {% alias "vorherige These" as text %}
            {% include "snippets/btn.html" with text=text url="reason" get=payload_previous icon="left" pos="l" %}
        {% endif %}

        {% alias "zurück zu meinem Ergebnis" as text %}
        {% include "snippets/btn.html" with text=text url="results" get=current_payload icon="cleft" pos="l" %}

        {% if payload_next %}
            {% alias "nächste These" as text %}
            {% include "snippets/btn.html" with text=text url="reason" get=payload_next icon="right" pos="r" %}
        {% endif %}
    </div>

    {% for antwort in antworten %}
        <div class="card">

            {# Farbiger Akzentstreifen, falls bei Partei vorhanden #}
            {% alias antwort.antwort_partei.partei_farbe as farbe %}
            <div class="w-full h-full p-4 {% if farbe %}border-l-8{% endif %}"
                 {% if farbe %}style="border-color: {{ farbe }}"{% endif %}>

                {# Parteititel mit passendem Badge #}
                <h2 class="mb-3">
                    <div class="text-lg font-semibold text-gray-700 dark:text-gray-100 sm:inline-flex">
                        {{ antwort.antwort_partei.partei_name }}
                    </div>
                    {% include "snippets/badge.html" with type=antwort.antwort_position pers="3" %}
                </h2>

                {# Begründung der Partei #}
                <p class="text-sm text-left text-gray-600 dark:text-gray-300">
                    {% if antwort.antwort_text %}
                        "{{ antwort.antwort_text.strip }}"
                    {% else %}
                        <i>Von der Partei liegt zu dieser These keine Begründung vor.</i>
                    {% endif %}
                </p>

            </div>

        </div>

    {% endfor %}

{% endblock %}
