{% extends 'wahlrechner/base.html' %}
{% load wahlrechner_extras %}

{% block title %}These {{ pos }} von {{ max_pos }}{% endblock %}

{% block sidebar %}
    {% include "wahlrechner/sidebar.html" with icon_default="empty" url_template="these" %}
{% endblock %}

{% block content %}

    <div class="content lg:p-10">

        <div class="these counter">These {{ pos }} von {{ max_pos }}</div>
        <div class="these title">{{ aktuelle_these.these_text }}</div>

        {# Erhalte Position des Nutzers aus den URL Parametern #}
        {% with status=request.GET|get_param_value:aktuelle_these.pk %}

            <p class="these clue">
                {% if status and status != 's' %}
                    Du hast dich bereits zu dieser These positioniert, aber du kannst deine Antwort noch anpassen:
                {% elif status == 's' %}
                    Du hast diese These übersprungen, aber du kannst sie jetzt noch beantworten:
                {% else %}
                    Bitte positioniere dich zu dieser These:
                {% endif %}
            </p>

            <div class="these btn-container">

                <button onClick="location.href='{% url 'these' %}?{{ payload_agree }}'"
                        class="btn btn-green w-full lg:w-48 {% if status == "a" %}active{% endif %}">
                    {% include "snippets/icon.html" with icon="agree" color="white" %} stimme zu
                </button>

                <button onClick="location.href='{% url 'these' %}?{{ payload_neutral }}'"
                        class="btn btn-gray w-full lg:w-28 {% if status == 'n' %}active{% endif %}">
                    {% include "snippets/icon.html" with icon="neutral" color="white" %} neutral
                </button>

                <button onClick="location.href='{% url 'these' %}?{{ payload_disagree }}'"
                        class="btn btn-red w-full lg:w-48 {% if status == 'd' %}active{% endif %}">
                    {% include "snippets/icon.html" with icon="disagree" color="white" %} stimme nicht zu
                </button>

            </div>

        {% endwith %}

    </div>

    <div class="btn-row">

        {% if payload_previous %}
            <button onClick="location.href='{% url 'these' %}?{{ payload_previous }}'" class="h-full btn btn-white">
                {% include "snippets/icon.html" with icon="left" %} vorherige These
            </button>
        {% elif not show_continue_button %}
            <div></div>
        {% endif %}

        {% if show_continue_button %}
            <button onClick="location.href='{% url 'confirm' %}?{{ current_payload }}'" class="h-full btn btn-white">
                Abschließen {% include "snippets/icon.html" with icon="cright" %}
            </button>
        {% endif %}

        {% if these_beantwortet and payload_next %}
            <button onClick="location.href='{% url 'these' %}?{{ payload_next }}'" class="h-full btn btn-white">
                nächste These {% include "snippets/icon.html" with icon="right" %}
            </button>
        {% elif not these_beantwortet %}
            <button onClick="location.href='{% url 'these' %}?{{ payload_skip }}'" class="h-full btn btn-white">
                These überspringen {% include "snippets/icon.html" with icon="skip" %}
            </button>
        {% endif %}

    </div>
{% endblock %}
