{% extends 'wahlrechner/base.html' %} {% load get_item %} {% block sidebar %}
<p class="text-lg mb-2 dark:text-gray-200">Übersicht aller Thesen</p>
<ul class="space-y-1 sidebar-menu">
    {% for these in these_list %}
    <li>
        {% with status=request.GET|get_item:these.pk %}
            {% if status == 'a' %}
                {% include "icons/agree.html" %}
            {% elif status == 'd' %}
                {% include "icons/disagree.html" %}
            {% elif status == 'n' %}
                {% include "icons/neutral.html" %}
            {% elif status == 's' %}
                {% include "icons/skip.html" %}
            {% else %}
                {% include "icons/empty.html" %}
            {% endif %}
        {% endwith %}
        {% if these == aktuelle_these %}
            <a class="active">{{ these.these_keyword }}</a>
        {% else %}
            <a onClick="location.href='{% url 'these' %}?t={{ these.pk }}&{{ current_payload }}'" class="clickable">
                {{ these.these_keyword }}
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %} {% block content %}
<div class="w-full bg-white shadow-lg rounded-lg p-6 lg:p-10 text-center dark:bg-gray-800">
    <p class="font-mono text-gray-500 dark:text-gray-400">These {{ pos }} von {{ max_pos }}</p>
    <p class="text-xl mb-8 font-bold text-gray-800 dark:text-gray-200 break-words">{{ aktuelle_these.these_text }}</p>

    {% with status=request.GET|get_item:aktuelle_these.pk %}
    <p class="text-sm text-gray-600 dark:text-gray-400 italic mb-3 lg:mb-0">
            {% if status and status != 's' %}
            Du hast dich bereits zu dieser These positioniert, aber du kannst deine Antwort noch anpassen:
            {% elif status == 's' %}
            Du hast diese These übersprungen, ab du kannst sie jetzt noch beantworten:
            {% else %}
            Bitte positioniere dich zu dieser These:
            {% endif %}
        </p>
        <div class="w-full mx-auto py-2 px-5 lg:space-x-2 space-y-2">
            <button onClick="location.href='{% url 'these' %}?{{ payload_agree }}'"
                    class="btn btn-green w-full lg:w-48 {% if status == 'a' %}active{% endif %}">
                {% include "icons/agree-white.html" %} stimme zu
            </button>
            <button onClick="location.href='{% url 'these' %}?{{ payload_neutral }}'"
                    class="btn btn-gray w-full lg:w-28 {% if status == 'n' %}active{% endif %}">
                {% include "icons/neutral-white.html" %} neutral
            </button>
            <button onClick="location.href='{% url 'these' %}?{{ payload_disagree }}'"
                    class="btn btn-red w-full lg:w-48 {% if status == 'd' %}active{% endif %}">
                {% include "icons/disagree-white.html" %} stimme nicht zu
            </button>
        </div>
    {% endwith %}
</div>
<div class="flex justify-between mt-3 space-x-2">
    <div>
        {% if payload_previous %}
        <button onClick="location.href='{% url 'these' %}?{{ payload_previous }}'" class="btn btn-white h-full">
            {% include "icons/arrow-left.html" %} vorherige These
        </button>
        {% endif %}
    </div>
    <div>
        {% if letzte_these %}
        <button onClick="location.href='{% url 'these' %}?{{ payload_next }}'" class="btn btn-white h-full">
            zur Gewichtung der Thesen {% include "icons/arrow-right.html" %}
        </button>
        {% elif payload_next %}
        <button onClick="location.href='{% url 'these' %}?{{ payload_next }}'" class="btn btn-white h-full">
            nächste These {% include "icons/arrow-right.html" %}
        </button>
        {% else %}
        <button onClick="location.href='{% url 'these' %}?{{ payload_skip }}'" class="btn btn-white h-full">
            These überspringen {% include "icons/skip.html" %}
        </button>
        {% endif %}
    </div>
</div>
{% endblock %}
