<div class="w-full p-3 bg-gray-900">

    <div class="grid w-full max-w-2xl grid-cols-1 py-1 mx-auto sm:grid-cols-3 justify-items-stretch">

        <div class="mb-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="#">Impressum</a></div>

        <div class="my-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="#">Datenschutz</a></div>

        <div class="mt-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="https://github.com/wahlrechner/">GitHub</a></div>
    </div>

</div>

<div class="w-full p-3 text-center bg-gray-800">
    <div class="text-xs text-gray-400">
        {% wahlrechner_name %} basiert auf
        <a class="font-bold transition hover:text-gray-200"
            href="https://github.com/wahlrechner/wahlrechner">Wahlrechner
            {% wahlrechner_version %}</a>
    </div>
    <div class="mt-3 text-xs text-gray-400">
        Wahlrechner ist eine offene Wahlempfehlungshilfe
    </div>
    <div class="text-xs text-gray-400">
        und ist frei verfügbar unter der Lizenz <a class="font-bold transition hover:text-gray-200"
            href="https://github.com/wahlrechner/wahlrechner/blob/main/LICENSE">GNU AGPLv3</a>
        &copy; {% now 'Y' %} Linus Köster
    </div>
</div>