<div class="w-full p-5 bg-gray-900 dark:bg-black">

    <div class="grid w-full max-w-2xl grid-cols-1 py-1 mx-auto sm:grid-cols-3 justify-items-stretch">

        <div class="mb-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="#">Impressum</a></div>

        <div class="my-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="#">Datenschutz</a></div>

        <div class="mt-2 sm:my-auto justify-self-center"><a
                class="text-gray-200 transition dark:text-gray-300 dark:hover:text-gray-200 hover:text-gray-400"
                href="https://github.com/wahlrechner/">GitHub</a></div>
    </div>
    
</div>