<h1 class="mb-3 text-xl font-semibold text-gray-700 dark:text-gray-100">Willkommen beim {% wahlrechner_name %}</h1>
<div class="text-left text-gray-600 dark:text-gray-300">
    Dies ist ein Beispieltext und dient lediglich als Platzhalter. {% lorem %}<br><br>{% lorem %}
</div>
<div class="p-3 mt-5 italic text-gray-400 border border-gray-400 rounded dark:text-gray-200 dark:bg-gray-700 dark:border-none">
    Der {% wahlrechner_name %} sammelt keinerlei personenbezogene Daten und verwendet keine Cookies.
    In dem du auf "Start" klickst, stimmt du den <a class="underline" href="#">Datenschutzbedingungen</a> zu.
</div>