name: Build Release Docker Image

on:
    push:
        tags:
            - "*"

jobs:
    push_to_registry:
        name: Docker Image
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repo
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Get version number
              id: get_version
              run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

            - name: Include version number
              run: echo "${{ steps.get_version.outputs.VERSION }}" > version.txt

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
              with:
                  platforms: all

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: linus.koester
                  password: ${{ secrets.CR_PAT }}

            - name: Cache Docker layers
              uses: actions/cache@v3
              with:
                  path: /tmp/.buildx-cache
                  key: ${{ runner.os }}-buildx-${{ github.sha }}
                  restore-keys: ${{ runner.os }}-buildx-

            - name: Push to GitHub Packages
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: ghcr.io/${{ github.repository_owner }}/wahlrechner:latest, ghcr.io/${{ github.repository_owner }}/wahlrechner:${{ steps.get_version.outputs.VERSION }}
